<div class="page-header">


<div class="row">
  <h1> <b>Plan for the next 5 days:</b> </h1>
</div>


</div>

<hr>


<div class="container">

  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-2">

    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-2">

    </div>

    <div class="col-md-2">
    </div>

  </div>

  <hr>

  <!-- Task section notes -->
  <!-- for each column, day, need to pull in task for whom date is between start date and due date -->

  <div class="row">
    <div class="col-md-2">
      <dt><h3>Your upcoming tasks</h3></dt>
    </div>

    <div class="col-md-2">
      <dl>

      </dl>
    </div>

    <div class="col-md-2">
     <dl>

     </dl>
   </div>

   <div class="col-md-2">
     <dl>

     </dl>
   </div>

   <div class="col-md-2">
     <dl>

     </dl>
   </div>

   <div class="col-md-2">
     <dl>

     </dl>
   </div>

 </div>

 <hr>

 <!-- Weather section notes -->
 <!-- for each column, show weather for that column's date -->

 <div class="row">
  <div class="col-md-2">
    <dt><h3>Chicago Weather Forecast</h3></dt>
  </div>

  <div class="col-md-2">

  </div>

  <div class="col-md-2">

  </div>

  <div class="col-md-2">

  </div>

  <div class="col-md-2">

  </div>

  <div class="col-md-2">

  </div>

</div>

</div>

<hr>
